Repository slackapi/bolt-js, pull requests merged in 2020-07, with the labels that each got.

#527 Fixed docs issue with generateInstallUrl for OAuth
  docs/_basic/authenticating_oauth.md
Labels: docs

#533 added v1 runtime deprecation notice
  src/index.ts
Labels: v1

#536 Apply #527 changes to Japanese docs
  docs/_basic/ja_authenticating_oauth.md
Labels: docs

#535 Document: Add text arg when having blocks in say() calls
  docs/_tutorials/getting_started.md
  docs/_tutorials/ja_getting_started.md
Labels: docs

#540 Add userScopes to AppOptions
  src/ExpressReceiver.spec.ts
  src/ExpressReceiver.ts
Labels: enhancement

#537 Add "item" interface types for "ReactionAddedEvent"
  src/types/events/base-events.ts
Labels: TypeScript-specific, enhancement

#547 Fix a typo in the OAuth document
  docs/_basic/authenticating_oauth.md
  docs/_basic/ja_authenticating_oauth.md
Labels: docs

#549 added beta release process to maintainers guide
  .github/maintainers_guide.md
Labels: docs

#558 Add workflow steps beta documentation
  docs/_advanced/configuring_workflow_steps.md
  docs/_advanced/executing_workflow_steps.md
  docs/_config.yml
  docs/_includes/sidebar.html
  docs/assets/style.css
Labels: docs

#561 Convert types tests to use `tsd`
  integration-tests/.gitignore
  integration-tests/.vscode/launch.json
  integration-tests/README.md
  integration-tests/package.json
  integration-tests/types/action.ts
  integration-tests/types/index.d.ts
  integration-tests/types/shortcut.ts
  integration-tests/types/tsconfig.json
  package.json
  types-tests/action.test-d.ts
  types-tests/shortcut.test-d.ts
  types-tests/utilities.test-d.ts
Labels: tests
