Repository slackapi/bolt-js, pull requests merged in 2020-08, with the labels that each got.

#529 Bolt tslint to eslint
  .eslintignore
  .eslintrc.js
  .eslintrc.test.js
  .prettierrc.json
  .vscode/settings.json
  eslint-config-base/index.js
  package.json
  src/App.spec.ts
  src/App.ts
  src/ExpressReceiver.spec.ts
  src/ExpressReceiver.ts
  src/conversation-store.spec.ts
  src/conversation-store.ts
  src/errors.spec.ts
  src/errors.ts
  src/helpers.ts
  src/index.ts
  src/middleware/builtin.spec.ts
  src/middleware/builtin.ts
  src/middleware/process.ts
  src/test-helpers.ts
  src/types/actions/block-action.ts
  src/types/actions/index.ts
  src/types/actions/interactive-message.ts
  src/types/events/base-events.ts
  src/types/events/index.ts
  src/types/helpers.ts
  src/types/middleware.ts
  src/types/options/index.ts
  src/types/receiver.ts
  src/types/utilities.ts
  src/types/view/index.ts
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.test.json
  tslint.json
Labels: tests

#569 Update authenticating_oauth.md examples
  docs/_basic/authenticating_oauth.md
Labels: docs

#570 Update ja_authenticating_oauth.md
  docs/_basic/ja_authenticating_oauth.md
Labels: docs

#574 added `api_app_id` to slash command payload
  src/middleware/builtin.spec.ts
  src/types/command/index.ts
Labels: enhancement, semver:minor

#586 passed clientOptions and authorizationUrl to @slack/oauth
  .github/workflows/gh-pages.yml
  package.json
  src/App.ts
  src/ExpressReceiver.ts
  src/index.ts
Labels: enhancement, semver:minor

#563 Small copy change for shortcuts
  docs/_basic/listening_responding_shortcuts.md
Labels: docs

#592 Fix typo of app.view in workflow steps for app doc
  docs/_steps/configuring_workflow_steps.md
Labels: bug, docs

#593 Steps from Apps document: Add await for async function calls in a listener
  docs/_steps/configuring_workflow_steps.md
  docs/_steps/executing_workflow_steps.md
Labels: docs

#599 Fix #598 add async to v2 migration guide global error handler example
  docs/_tutorials/ja_migration_v2.md
  docs/_tutorials/migration_v2.md
Labels: docs

#600 Adjust "Listening and Responding to a Message" section for clarity
  docs/_tutorials/getting_started.md
Labels: docs

#603 Add #600 changes in Japanese docs
  docs/_basic/ja_acknowledging_requests.md
  docs/_basic/ja_listening_actions.md
  docs/_basic/ja_listening_messages.md
  docs/_basic/ja_listening_modals.md
  docs/_basic/ja_listening_responding_commands.md
  docs/_basic/ja_listening_responding_shortcuts.md
  docs/_basic/ja_responding_actions.md
  docs/_basic/ja_sending_messages.md
  docs/_tutorials/ja_getting_started.md
  docs/_tutorials/ja_hubot_migration.md
Labels: docs
