Repository slackapi/bolt-js, pull requests merged in 2020-09, with the labels that each got.

#605 Add missing comma to oauth example config
  docs/_basic/authenticating_oauth.md
  docs/_basic/ja_authenticating_oauth.md
Labels: bug, docs

#602 Docs sidebar: filter out prerelease versions
  docs/_includes/sidebar.html
Labels: docs

#606 Fix minor typo in README.md
  README.md
Labels: untriaged

#597 Add support for Workflow Steps from Apps
  docs/_steps/adding_editing_workflow_step.md
  docs/_steps/configuring_workflow_steps.md
  docs/_steps/creating_workflow_step.md
  docs/_steps/executing_workflow_steps.md
  docs/_steps/saving_workflow_step.md
  docs/_steps/workflow_steps_beta.md
  package.json
  src/App.ts
  src/WorkflowStep.spec.ts
  src/WorkflowStep.ts
  src/errors.ts
  src/index.ts
  src/types/actions/index.ts
  src/types/middleware.ts
  src/types/view/index.ts
Labels: enhancement, semver:minor

#613 Update docs client
  docs/_advanced/authorization.md
  docs/_basic/ja_listening_events.md
  docs/_basic/ja_opening_modals.md
  docs/_basic/ja_updating_pushing_modals.md
  docs/_basic/listening_events.md
  docs/_basic/listening_responding_shortcuts.md
  docs/_basic/opening_modals.md
  docs/_basic/updating_pushing_modals.md
  docs/_basic/web_api.md
Labels: docs

#609 Update and simplify README
  README.md
Labels: docs

#610 Improve code snippet in README to support Unicode
  README.md
Labels: docs

#617 Add missing section break to Getting Started guide
  docs/_tutorials/getting_started.md
Labels: docs

#618 Apply #617 changes to Japanese version
  docs/_tutorials/ja_getting_started.md
Labels: docs

#628 Fix code snippet errors in docs
  docs/_basic/ja_listening_actions.md
  docs/_basic/ja_updating_pushing_modals.md
  docs/_basic/ja_web_api.md
  docs/_basic/listening_actions.md
  docs/_basic/updating_pushing_modals.md
  docs/_basic/web_api.md
Labels: docs

#623 6 minor tweaks to the Getting Started guide for English and Japanese
  docs/_tutorials/getting_started.md
  docs/_tutorials/ja_getting_started.md
Labels: docs

#626 Add documentation for publishing to home tab
  docs/_basic/authenticating_oauth.md
  docs/_basic/listening_responding_options.md
  docs/_basic/publishing_views.md
Labels: docs

#631 [docs] Update Getting Started to align with Bolt-Python Getting Started
  docs/_tutorials/getting_started.md
  docs/_tutorials/ja_getting_started.md
Labels: docs

#635 Update head.html
  docs/_includes/head.html
Labels: docs

#622 added new null states to selected_option for radio buttons and date picker block action payloads
  src/types/actions/block-action.ts
Labels: semver:minor

#607 Add support for Workflow Steps from Apps
  docs/_includes/sidebar.html
  docs/_layouts/default.html
  docs/_steps/adding_editing_workflow_step.md
  docs/_steps/configuring_workflow_steps.md
  docs/_steps/creating_workflow_step.md
  docs/_steps/executing_workflow_steps.md
  docs/_steps/saving_workflow_step.md
  docs/_steps/workflow_steps_beta.md
  docs/_steps/workflow_steps_overview.md
  src/App.spec.ts
  src/App.ts
  src/WorkflowStep.spec.ts
  src/WorkflowStep.ts
  src/errors.ts
  src/helpers.ts
  src/index.ts
  src/types/actions/index.ts
  src/types/actions/workflow-step-edit.ts
  src/types/events/base-events.ts
  src/types/middleware.ts
  src/types/view/index.ts
Labels: enhancement, semver:minor

#652 Release v2.4.0
  .vscode/settings.json
  package.json
Labels: release, untriaged

#653 Correct types in WorkflowStep.ts
  src/WorkflowStep.ts
Labels: TypeScript-specific, bug, semver:patch

#654 Release v2.4.1
  package.json
Labels: release
