Repository slackapi/bolt-js, pull requests merged in 2020-03, with the labels that each got.

#417 Gtime sample code update
  docs/_basic/ja_opening_modals.md
  docs/_basic/opening_modals.md
Labels: docs

#418 [v2] Bring PR #417 changes to v2 branch
  docs/_basic/ja_opening_modals.md
  docs/_basic/opening_modals.md
Labels: docs, semver:major

#423 Fix #422 invalid fields in MultiUsersSelectAction
  src/types/actions/block-action.ts
Labels: TypeScript-specific, bug

#424 [v2] Fix #422 invalid fields in MultiUsersSelectAction
  src/types/actions/block-action.ts
Labels: TypeScript-specific, bug

#425 Change Bolt to Bolt for JavaScript
  README.md
  docs/_advanced/conversation_store.md
  docs/_advanced/logging.md
  docs/_advanced/receiver.md
  docs/_tutorials/getting_started.md
  docs/_tutorials/hubot_migration.md
Labels: docs

#432 Fix a typo in shortcut Japanese document
  docs/_basic/ja_ listening_responding_shortcuts.md
Labels: bug, docs

#437 Fix #436 View type missing optional id from response
  src/types/actions/block-action.ts
Labels: bug

#442 added migration guide for Bolt@2.x
  docs/_advanced/error_handling.md
  docs/_advanced/middleware_global.md
  docs/_advanced/middleware_listener.md
  docs/_basic/listening_actions.md
  docs/_tutorials/hubot_migration.md
  docs/_tutorials/migration_v2.md
Labels: docs, semver:major

#445 Add Japanese version to PR #442
  docs/_advanced/ja_error_handling.md
  docs/_advanced/ja_middleware_global.md
  docs/_advanced/ja_middleware_listener.md
  docs/_basic/ja_listening_actions.md
  docs/_tutorials/ja_hubot_migration.md
  docs/_tutorials/ja_migration_v2.md
Labels: docs

#440 Refactor middleware processing (v2)
  integration-tests/types/action.ts
  integration-tests/types/shortcut.ts
  package.json
  src/App.spec.ts
  src/App.ts
  src/conversation-store.spec.ts
  src/conversation-store.ts
  src/errors.ts
  src/middleware/builtin.spec.ts
  src/middleware/builtin.ts
  src/middleware/process.ts
  src/types/middleware.ts
Labels: enhancement, semver:major

#444 added processBeforeResponse flag to ExpressReceiver for FaaS use case
  src/App.ts
  src/ExpressReceiver.spec.ts
  src/ExpressReceiver.ts
Labels: enhancement, semver:major

#457 Add Japanese version of v2 migration & TS guide
  docs/_tutorials/ja_migration_v2.md
  docs/_tutorials/ja_using-typescript.md
Labels: docs
