Repository slackapi/bolt-js, pull requests merged in 2020-12, with the labels that each got.

#693 Updated docs for org wide installations
  docs/_basic/authenticating_oauth.md
  docs/_basic/web_api.md
Labels: docs

#697 Changed the 'who you calling slow' app.message to use await say to use V2 code syntax
  examples/hubot-example/script.js
Labels: docs

#699 Update Japanese docs for Org-Wide App installation #693
  docs/_basic/ja_authenticating_oauth.md
  docs/_basic/ja_web_api.md
Labels: docs

#703 Update listeners to use client arg
  docs/_advanced/context.md
  docs/_advanced/ja_context.md
  docs/_advanced/ja_middleware_global.md
  docs/_advanced/middleware_global.md
  docs/_basic/ja_listening_modals.md
  docs/_basic/listening_modals.md
Labels: docs

#704 Added Github action to replace travis-ci
  .github/workflows/ci-build.yml
  .travis.yml
  README.md
  src/App.ts
  src/ExpressReceiver.spec.ts
  src/WorkflowStep.spec.ts
Labels: enhancement

#698 [#220] Add AWS Lambda / Serverless Framework guide and example code
  codecov.yml
  docs/_deployments/aws-lambda.md
  docs/_deployments/heroku.md
  examples/getting-started-with-aws-lambda/.gitignore
  examples/getting-started-with-aws-lambda/LICENSE
  examples/getting-started-with-aws-lambda/README.md
  examples/getting-started-with-aws-lambda/app.js
  examples/getting-started-with-aws-lambda/package.json
  examples/getting-started-with-aws-lambda/serverless.yml
Labels: docs

#710 Rename deploy examples to improve organization and discovery
  docs/_deployments/aws-lambda.md
  docs/_deployments/heroku.md
  examples/deploy-heroku/.gitignore
  examples/deploy-heroku/LICENSE
  examples/deploy-heroku/Procfile
  examples/deploy-heroku/README.md
  examples/deploy-heroku/app.js
  examples/deploy-heroku/package.json
  examples/getting-started-with-aws-lambda/README.md
  examples/getting-started-with-aws-lambda/package.json
Labels: docs

#713 Fix renaming examples/deploy-aws-lambda
  examples/deploy-aws-lambda/.gitignore
  examples/deploy-aws-lambda/LICENSE
  examples/deploy-aws-lambda/README.md
  examples/deploy-aws-lambda/app.js
  examples/deploy-aws-lambda/package.json
  examples/deploy-aws-lambda/serverless.yml
Labels: area:examples, docs

#711 Clarify that OAuth is not supported by custom receivers.
  docs/_basic/authenticating_oauth.md
Labels: docs

#712 Add basic reference information
  docs/_config.yml
  docs/_includes/sidebar.html
  docs/_layouts/fullpage.html
  docs/_tutorials/hubot_migration.md
  docs/_tutorials/ja_hubot_migration.md
  docs/_tutorials/ja_migration_v2.md
  docs/_tutorials/ja_using-typescript.md
  docs/_tutorials/migration_v2.md
  docs/_tutorials/reference.md
  docs/_tutorials/using-typescript.md
  docs/assets/style.css
Labels: docs
