Repository slackapi/bolt-js, pull requests merged in 2021-09, with the labels that each got.

#1111 Fix missing bracket
  docs/_tutorials/ja_getting_started_http.md
Labels: bug, docs

#1114 Add Support for Custom HTTP Routes
  src/App.ts
  src/errors.ts
  src/receivers/HTTPReceiver.spec.ts
  src/receivers/HTTPReceiver.ts
  src/receivers/SocketModeReceiver.spec.ts
  src/receivers/SocketModeReceiver.ts
  src/receivers/custom-routes.ts
Labels: enhancement

#1129 Add Oauth with ExpressReceiver example app
  examples/oauth-express-receiver/.gitignore
  examples/oauth-express-receiver/README.md
  examples/oauth-express-receiver/app.js
  examples/oauth-express-receiver/package.json
Labels: area:examples

#1130 Add docs on updating views on submission with `response_action`
  docs/_basic/listening_modals.md
Labels: docs

#1116 Add option to disable state verification, fix redirect uri bug
  package.json
  src/App.spec.ts
  src/App.ts
  src/receivers/ExpressReceiver.spec.ts
  src/receivers/ExpressReceiver.ts
  src/receivers/HTTPReceiver.spec.ts
  src/receivers/HTTPReceiver.ts
  src/receivers/SocketModeReceiver.spec.ts
  src/receivers/SocketModeReceiver.ts
  src/receivers/verify-redirect-opts.ts
Labels: enhancement, semver:minor

#1133 Release: @slack/bolt@3.7.0
  package.json
Labels: release

#1136 Update Custom HTTP Routes Documentation
  docs/_advanced/custom_routes.md
Labels: docs
