Repository slackapi/bolt-js, pull requests merged in 2021-07, with the labels that each got.

#979 updated default axios options
  src/App.ts
Labels: bug, semver:patch

#983 Use Kanji for Japanese documents.
  docs/_basic/ja_listening_responding_commands.md
Labels: docs

#988 Release v3.4.1
  package.json
Labels: release

#989 Tweak fxn behavior description
  docs/_advanced/ja_middleware_listener.md
  docs/_advanced/middleware_listener.md
Labels: docs

#993 fix: 🐛 typo
  src/conversation-store.ts
  types-tests/utilities.test-d.ts
Labels: bug, semver:patch

#991 Apply #940 changes to Japanese version
  docs/_deployments/ja_aws-lambda.md
Labels: docs

#997 Fix #985: Update "acknowledging events" code snippet
  docs/_basic/acknowledging_requests.md
  docs/_basic/ja_acknowledging_requests.md
Labels: docs

#1002 Update docs to include the InstallationStore deleteInstallation method
  docs/_basic/authenticating_oauth.md
  docs/_basic/ja_authenticating_oauth.md
  docs/_tutorials/ja_reference.md
  docs/_tutorials/reference.md
Labels: docs

#1004 Revert "Update docs to include the InstallationStore deleteInstallation method"
  docs/_basic/authenticating_oauth.md
  docs/_basic/ja_authenticating_oauth.md
  docs/_tutorials/ja_reference.md
  docs/_tutorials/reference.md
Labels: docs

#1003 Export MemoryInstallationStore and FileInstallationStore
  src/index.ts
Labels: enhancement

#1007 Release v3.5.0
  package.json
Labels: release

#1005 Merge #1002 after v3.5.0 release
  docs/_basic/authenticating_oauth.md
  docs/_basic/ja_authenticating_oauth.md
  docs/_tutorials/ja_reference.md
  docs/_tutorials/reference.md
Labels: docs

#1009 Add token rotation section to docs
  docs/_advanced/context.md
  docs/_advanced/conversation_store.md
  docs/_advanced/custom_routes.md
  docs/_advanced/logging.md
  docs/_advanced/middleware_global.md
  docs/_advanced/middleware_listener.md
  docs/_advanced/receiver.md
  docs/_advanced/token_rotation.md
Labels: docs

#1012 Add tests for SocketModeReceiver (#750)
  src/receivers/SocketModeReceiver.spec.ts
Labels: tests

#1021 updated deleteInstallation example and fix #939
  docs/_basic/authenticating_oauth.md
Labels: docs

#1022 Fix broken url in docs
  docs/_tutorials/reference.md
Labels: untriaged

#1023 Link to contributing and maintainer guides from README
  .github/contributing.md
  .github/maintainers_guide.md
  README.md
Labels: docs

#1026 In CI, run on node v16 instead of v15
  .github/workflows/ci-build.yml
Labels: untriaged
