Repository slackapi/bolt-js, pull requests merged in 2022-11, with the labels that each got.

#1649 Add in update to AWS Lambda guide to make ExpressReceiver config more clear
  docs/_deployments/aws-lambda.md
Labels: docs

#1653 Publish v4.0.0-nextGen.9
  package.json
Labels: release

#1654 Update block suggestion payload to extend function context
  src/types/block-suggestion/index.ts
Labels: enhancement

#1655 Update Heroku guides with the new low-cost Eco Dyno plan
  docs/_deployments/heroku.md
  docs/_future/deploy_your_app.md
Labels: docs

#1668 Reword migrate beta documentation
  docs/_future/deploy_your_app.md
  docs/_future/getting_started_future.md
  docs/_future/request_time_off_tutorial.md
  docs/_future/setup_existing_app.md
Labels: docs, semver:patch

#1657 Add in blockAction handler to SlackFunction
  src/SlackFunction.spec.ts
  src/SlackFunction.ts
Labels: enhancement
