Repository slackapi/bolt-js, pull requests merged in 2025-01, with the labels that each got.

#2383 docs(example): update aws lambda deployment to latest dependencies
  docs/content/deployments/aws-lambda.md
  docs/i18n/ja-jp/docusaurus-plugin-content-docs/current/deployments/aws-lambda.md
  examples/deploy-aws-lambda/README.md
  examples/deploy-aws-lambda/app.js
  examples/deploy-aws-lambda/manifest.json
  examples/deploy-aws-lambda/package.json
  examples/deploy-aws-lambda/serverless.yml
Labels: docs, area:examples, dependencies

#2385 docs(examples): fix the "deploy to heroku" button using latest dependencies
  app.json
  examples/deploy-heroku/README.md
  examples/deploy-heroku/app.js
  examples/deploy-heroku/manifest.json
  examples/deploy-heroku/package.json
Labels: area:examples

#2386 ci: complete all sample tests even if one fails fast
  .github/workflows/samples.yml
Labels: tests, github_actions

#2387 ci: add example app dependencies to weekly dependabot configurations
  .github/dependabot.yml
Labels: area:examples, dependencies, github_actions

#2406 Fixed typo in getting-started.mdx
  docs/content/getting-started.mdx
Labels: docs, cla:signed
