Repository slackapi/bolt-js, pull requests merged in 2025-02, with the labels that each got.

#2402 Update getting-started.mdx
  docs/content/getting-started.mdx
Labels: docs, cla:signed

#2372 ci: test samples and examples with a packaged bolt build
  .github/maintainers_guide.md
  .github/workflows/samples.yml
  examples/custom-receiver/tsconfig.json
  examples/getting-started-typescript/tsconfig.json
Labels: discussion, semver:patch, tests, TypeScript-specific

#2422 fix: improve the maintainers_guide local development instruction
  .github/maintainers_guide.md
Labels: enhancement, docs

#2433 chore: release @slack/bolt@4.2.1
  .github/maintainers_guide.md
  package.json
Labels: semver:patch, release
