Repository slackapi/bolt-js, pull requests merged in 2025-03, with the labels that each got.

#2440 fix: configure dependbot to group react deps
  .github/dependabot.yml
Labels: dependencies, github_actions

#2453 chore(deps): bump axios to 1.8.3 to address CVE-2025-27152
  package.json
Labels: security, semver:patch, dependencies

#2468 ci: increase updated versions to depend on the latest releases
  .github/dependabot.yml
Labels: discussion, dependencies, github_actions
